<div>
  <b-container class="mb-3">
    <b-row class="mb-2">
      <h5 >Wybierz produkty</h5>
      <b-button @click="resetStock"
                size="sm"
                class="ml-3"
                variant="secondary">
        Reset
      </b-button>
    </b-row>

    <b-row>
      <b-form-group v-if="show">
        <b-form-checkbox-group v-model="selected"
                               @change="stockSelected"
                               :options="options"
                               data-test="stocks">
        </b-form-checkbox-group>
      </b-form-group>


    </b-row>
  </b-container>
</div>


