<div>
  <b-container>
    <b-row class="my-2">
      <router-link to="/about" active-class='active'><a>About</a></router-link>
    </b-row>

    <b-row>
      <h5 class="my-2">Wybierz produkty</h5>
      <b-button @click="resetStock"
                size="sm"
                class="ml-3"
                variant="secondary">
        Reset
      </b-button>
    </b-row>

    <b-row class="klasa">
      <b-form-group label="" v-if="show">
        <b-form-checkbox-group v-model="selected"
                               @change="stockSelected"
                               :options="options">
        </b-form-checkbox-group>
      </b-form-group>


    </b-row>
  </b-container>
</div>


